{
  "prefix": $PREFIX,
  "powervs_resource_group_name": "Default",
  "powervs_zone": "us-south",
  "external_access_ip": "0.0.0.0/0",
  "ssh_public_key": $SSH_PUB_KEY,
  "ssh_private_key": $SSH_PRV_KEY,
  "ibmcloud_api_key": $VALIDATION_APIKEY
}
