# ------------------------------------------------------------------------
# This playbook uses the ibm.power_linux_sap collection. This collection is
# available on ansible galaxy
# https://galaxy.ansible.com/ui/repo/published/ibm/power_linux_sap/ and can
# be installed using 'ansible-galaxy collection install ibm.power_linux_sap'
# ------------------------------------------------------------------------

---
- hosts: all
  vars:
    server_config: ${server_config}

  roles:
  - { role: ibm.power_linux_sap.powervs_install_services, when: server_config is defined }
