{
  "tagFormat": "v${version}",
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    ["@semantic-release/git", {
      "assets": "false"
    }],
    ["@semantic-release/exec", {
      "successCmd": "echo \"SEMVER_VERSION=${nextRelease.version}\" >> $GITHUB_ENV",
      "publishCmd": "./ci/run-catalog-onboarding-pipeline.sh --catalog_id=37627572-1032-482b-8ed3-183b20c17baf --offering_id=07e92c55-6a5b-4f3d-aa0e-30212e108af9 --version=v${nextRelease.version} --target=account --validation_dir_list=examples/basic --github_url=github.com --github_org=terraform-ibm-modules --use_publish_apikey_override --use_valadation_apikey_override"
    }]
  ]
}
