sort:
  enabled: false

recursive:
  enabled: false
  path: submodules

#comment

content: |-

  # PowerVS Infrastructure Module

  This module provisions the following infrastructure
  - Creates a [PowerVS service instance](https://cloud.ibm.com/docs/power-iaas?topic=power-iaas-getting-started) with the following network topology <br/>
    (1) 2 private networks, management network and backup network <br/>
    (2) 1 [IBM Cloud connection](https://cloud.ibm.com/docs/power-iaas?topic=power-iaas-cloud-connections), with the option to reuse existing IBM Cloud connections <br/>
    (3) The IBM Cloud connections are attached to a [transit gateway](https://cloud.ibm.com/docs/transit-gateway?topic=transit-gateway-getting-started) <br/>
    (4) Attaches the PowerVS service instance private networks to the IBM Cloud connections <br/>
  - Creates a ssh key
  - Option to Install and Configure the VSIs with NTP, NFS, SQUID, DNS services to act as servers for the services

  :warning: For experimentation purposes only.
  For ease of use, this quick start example generates a private/public ssh key pair. The private key generated in this example will be stored unencrypted in your Terraform state file.
  Use of this resource for production deployments is not recommended. Instead, generate a ssh key pair outside of Terraform and pass the public key via the [ssh_public_key input](https://github.com/terraform-ibm-modules/terraform-ibm-powervs-infrastructure/tree/v0.1#input_ssh_public_key)
  
  ## Usage
  ```
  provider "ibm" {
    region    =   var.pvs_region
    zone      =   var.pvs_zone
    ibmcloud_api_key = var.ibmcloud_api_key != null ? var.ibmcloud_api_key : null
  }

  module "power-infrastructure" {
    source = "terraform-ibm-modules/powervs/ibm/modules/powervs-infrastructure"

    pvs_zone                    = var.pvs_zone
    pvs_resource_group_name     = var.pvs_resource_group_name
    pvs_service_name            = var.pvs_service_name
    tags                        = var.tags
    pvs_sshkey_name             = var.pvs_sshkey_name
    ssh_public_key              = var.ssh_public_key
    ssh_private_key             = var.ssh_private_key               # pragma: allowlist secret
    pvs_management_network      = var.pvs_management_network
    pvs_backup_network          = var.pvs_backup_network
    transit_gateway_name        = var.transit_gateway_name
    reuse_cloud_connections     = var.reuse_cloud_connections
    cloud_connection_count      = var.cloud_connection_count
    cloud_connection_speed      = var.cloud_connection_speed
    cloud_connection_gr         = var.cloud_connection_gr
    cloud_connection_metered    = var.cloud_connection_metered
    access_host_or_ip           = var.access_host_or_ip
    squid_config                = var.squid_config
    dns_forwarder_config        = var.dns_forwarder_config
    ntp_forwarder_config        = var.ntp_forwarder_config
    nfs_config                  = var.nfs_config
    perform_proxy_client_setup  = var.perform_proxy_client_setup
  }

  ```
  <!-- BEGIN EXAMPLES HOOK -->
  ## Examples

  - [ Basic PowerVS Infrastructure Module Example](examples/basic)
  - [ Catalog PowerVS Infrastructure Module Example](examples/standard-catalog)
  - [ Standard PowerVS Infrastructure Module Example](examples/standard)
  <!-- END EXAMPLES HOOK -->

  {{ .Header }}
  ## Prerequisites
  Make sure you installed the Power flavor of version 0.0.19 or higher of Secure Landing Zone VPC with VSIs.

  <!-- BEGINNING OF PRE-COMMIT-TERRAFORM DOCS HOOK -->
  ## Requirements

    | Name | Version |
    |------|---------|
    | <a name="requirement_terraform"></a> [terraform](#requirement\_terraform) | >=1.1 |
    | <a name="requirement_ibm"></a> [ibm](#requirement\_ibm) | >= 1.43.0 |
    | <a name="requirement_tls"></a> [tls](#requirement\_tls) | 4.0.1 |

  {{ .Modules }}

  {{ .Resources }}

  {{ .Inputs }}

  {{ .Outputs }}

  <!-- END OF PRE-COMMIT-TERRAFORM DOCS HOOK -->

  ## Usage

    terraform apply -var-file="input.tfvars"

  ## Note

  For all optional fields, default values (Eg: `null`) are given in variable.tf file. User can configure the same by overwriting with appropriate values.