{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "powervs_zone": "us-south",
  "prefix": "qs-val",
  "tshirt_size": {
      "tshirt_size":"aix_xs",
      "image":"7300-03-01"
   },
  "powervs_resource_group_name": "Default",
  "ssh_public_key": $SSH_PUB_KEY,
  "ssh_private_key": $SSH_PRV_KEY,
  "ansible_vault_password": "SecurePassw0rd!"
}
