{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "powervs_zone": "syd05",
  "powervs_resource_group_name": "Automation",
  "prefix": $PREFIX,
  "landing_zone_configuration": "RHEL",
  "external_access_ip": "0.0.0.0/0"
}
